{% extends 'base.html' %}

{% block nav %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}



<h3>{{ message }} </h3>

<!--
  form en rapide
    
<form action="" method="post" enctype="multipart/form-data">
  
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> create </button>
</form>

-->

<!-- 
mode plus compliquer moin securiser

<center>
  <form action="" method="post" >
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter product name">
    <br></br>
    <input type="text" name="description" placeholder="Enter description">
    <br></br>
    <input type="number" name="price" placeholder="Enter the price">
    <br></br>
    <input type="file" name="image">
    <br></br>
    <input type="text" name="slug">
    <br></br>
    <button type="submit"> Save </button>
  </form>
</center>
 -->

<center>
  <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"> Save </button>



  </form>
</center>



{% endblock %}