{% extends 'base.html' %}

{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h3>article list</h3>
<div class="row">
{% for article in object_list %}
    <div class="col-md-3">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" ><a href=" {{ article.get_absolute_url }}" class="btn btn-light">{{ article.title }}</a></h5>
      <p class="card-text">{{ article.content }}</p>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% endblock %}