{% extends 'base.html' %}

{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h3>product list</h3>
<div class="row">
    {% for product in products %}
    <div class="col-md-3">
<div class="card" style="width: 18rem;">
    {% if product.image %}
        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
    {% else %}
        <h4>No image</h4>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">{{ product.price }} $</p>
      <a href="#" class="btn btn-primary">add to card</a>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% endblock %}